body {
  font-family: 'Quicksand', sans-serif;
}
div {
  margin-bottom: 4rem;
}

.r {
  text-align: right;
}

thead {
  background-color: #4f81bc;
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 0;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 0.2em 0.5em;
  width: 7em;
}
td:nth-child(1) {
  width: auto;
}

.min_1,
.min_2,
.min_3 {
  color: #fff;
  font-weight: bold;
}
.min_1 {
  background-color: #800;
}
.min_2 {
  background-color: #b00;
}
.min_3 {
  background-color: #f00;
}

.max_1,
.max_2,
.max_3 {
  color: #fff;
  font-weight: bold;
}
.max_1 {
  background-color: #060;
}
.max_2 {
  background-color: #080;
}
.max_3 {
  background-color: #0a0;
}
small {
  font-size: 0.8rem;
  display: block;
  display: flex;
  justify-content: space-between;
}
.b {
  font-size: 1.5rem;
}

.num {
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
}
li {
  cursor: pointer;
  margin: 0 0.5em;
  border-bottom: 0.1em solid #fff;
}
li:hover {
  border-bottom: 0.1em solid #060;
}
section {
  display: none;
}
section.active {
  display: block;
}
